@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clockpedia</h1>
    <img src="~/Images/alotclock.jpg" width="20%" />
    <img src="~/Images/giantImage.jpeg" width="30%"/>
    <img src="~/Images/Spiral.jpeg" width="20%"/>
    <img src="~/Images/Vintage.jpeg"/>
    <p>Going to the About Us<a  asp-action="About">:About Us</a></p>
</div>
